APP_PORT=3000
MONGO_USER=app
MONGO_PASSWORD=changeme
MONGO_URL=mongodb://app:changeme@mongodb:27017
MONGO_URL_HOST=mongodb://app:changeme@127.0.0.1:27017
NEO4J_AUTH=neo4j/changeme
NEO4J_URI=bolt://neo4j:7687
NEO4J_URI_HOST=bolt://127.0.0.1:7687
MYSQL_DATABASE=app
MYSQL_USER=app
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme
MYSQL_URL=mysql://app:changeme@mysql:3306/app
MYSQL_URL_HOST=mysql://app:changeme@127.0.0.1:3306/app
